<template name="landing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="containers">Welcome</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="jumbotron">
                    <h1>Configure</h1>
                    <p>I want to Configure stuff.</p>
                    <p><a class="btn btn-primary btn-lg">Configure Stuff</a></p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="jumbotron">
                    <h1>Hublogs</h1>
                    <p>I want to View HubLogs.</p>
                    <p><a class="btn btn-primary btn-lg">View Logs</a></p>
                </div>
            </div>
        </div>
    </div>
</template>