<template name="configuration">
    <div class="component-spacer sm">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-title"><h2>Manage Environment Configuration</h2></div>
            </div>
        </div>
        <div class="component-spacer sm"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-title"><h3>Configuration Type</h3></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <select id="configOptions" class="form-control">
                    {{#if Template.subscriptionsReady}}
                        <option value="0">-- Select --</option>
                        {{#each getConfigurations}}
                            {{> option configurationsOptions CONFIGURATION_ID CONFIGURATION_NME }}
                        {{/each}}
                    {{/if}}
                </select>
            </div>
        </div>
        <div class="component-spacer sm"></div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="configName" class="control-label col-lg-2">Name:&nbsp;(VMV or HUB)</label>
                        <div class="col-lg-6">
                            <input type="text" name="configName" value="{{configName}}" class="form-control" id="configName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="databaseServer" class="control-label col-lg-2">Database Server:&nbsp;</label>
                        <div class="col-lg-6">
                            <input type="text" name="databaseServer" value="{{databaseServer}}" class="form-control" id="databaseServer" placeholder="Database Server">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="database" class="control-label col-lg-2">Database:&nbsp;</label>
                        <div class="col-lg-6">
                            <input type="text" name="database" value="{{database}}" class="form-control" id="database" placeholder="Database">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userName" class="control-label col-lg-2">Db User name:&nbsp;</label>
                        <div class="col-lg-6">
                            <input type="text" name="userName" value="{{userName}}" class="form-control" id="userName" placeholder="User name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label col-lg-2">Password:&nbsp;</label>
                        <div class="col-lg-6">
                            <input type="password" name="password" value="{{password}}" class="form-control" id="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datasource" class="control-label col-lg-2">Datasource:&nbsp;</label>
                        <div class="col-lg-6">
                            <input type="text" name="datasource" value="{{datasource}}" class="form-control" id="datasource" placeholder="Datasource">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prefHours" class="control-label col-lg-2">Preferred Hours:&nbsp;</label>
                        <div class="col-lg-6">
                            <input type="text" name="prefHours" value="{{prefHours}}" class="form-control" id="prefHours" placeholder="Preferred Hours">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default btn-sm" id="createBttn">Create</button>
                            <button type="button" class="btn btn-default btn-sm" id="deleteBttn">Delete</button>
                            <button type="reset" class="btn btn-default btn-sm" id="clearBttn">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>