<template name="editUserProfile">
    {{#if Template.subscriptionsReady}}
    <div class="component-spacer sm">
    <div class="page-container container">
        <div class="row">
            <div class="col-md-12, col-lg-12"><h2>Edit User Profile: {{getUserProfile.username}}</h2></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
                    <li><a href="#roles" data-toggle="tab">Roles</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="info">
                        <div class="container-fluid">
                            <div class="component-spacer sm">
                                <div class="bs-component">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="description">Adm:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="adm" placeholder="Enter Admxxxx" value="{{getUserProfile.username}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="username">First Name:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="firstname" placeholder="First name" value="{{getUserProfile.userProfile.firstName}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="lastname">Last Name:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="lastname" placeholder="Last name" value="{{getUserProfile.userProfile.lastName}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="email">Email:</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="email" placeholder="Enter email" value="{{getUserProfile.emails.[0].address}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="team">Working Environments:</label>
                                            <div class="col-sm-3">
                                            <input type="checkbox" name="custom-dev-checkbox" id="custom-dev-checkbox" autocomplete="off" />
                                            <div class="[ btn-group ]">
                                                <label for="custom-dev-checkbox" class="[ btn bttn-custom ]">
                                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                                    <span> </span>
                                                </label>
                                                <label for="custom-dev-checkbox" class="[ btn bttn-custom active ]">
                                                    Development
                                                </label>
                                            </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="checkbox" name="custom-ess-checkbox" id="custom-ess-checkbox" autocomplete="off" />
                                                <div class="[ btn-group ]">
                                                    <label for="custom-ess-checkbox" class="[ btn bttn-custom ]">
                                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                                        <span> </span>
                                                    </label>
                                                    <label for="custom-ess-checkbox" class="[ btn bttn-custom active ]">
                                                        Test & Production
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="pwd">Password:</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" value="{{getUserProfile.PASSWD}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="confPwd">Confirm Password:</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="confPwd" placeholder="Confirm password" value="{{getUserProfile.PASSWD}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12 col-ms-12">
                                                <div class="text-right">
                                                    <button type="button" class="btn btn-default" id="saveProfile">Submit</button>
                                                    <button type="button" class="btn btn-default" id="cancelProfile">Cancel</button>
                                                    <button type="button" class="btn btn-default" id="deleteProfile">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="roles">
                        <div class="container-fluid">
                            <div class="bs-component">
                                <table class="table table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>
                                            &nbsp;
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Installer</td>
                                        <td>Manages general Hub configuration i.e. versions, routing, properties</td>
                                        <td>
                                            <div class="checkbox md">
                                                <label><input type="checkbox" id="installerRoleChkbx" {{applyInstallerRole}}></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Administrator</td>
                                        <td>Apply Roles to Users</td>
                                        <td>
                                            <div class="checkbox md">
                                                <label><input type="checkbox" id="adminRoleChkbx" {{applyAdminRole}}></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Super User</td>
                                        <td>Manage all functions</td>
                                        <td>
                                            <div class="checkbox md">
                                                <label><input type="checkbox" id="superuserRoleChkbx" {{applySuperuserRole}}></label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-xs-12 col-ms-12">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-default" id="saveUserGroupEdit">Submit</button>
                                        <button type="button" class="btn btn-default" id="cancelProfileEdit">Cancel</button>
                                        <button type="button" class="btn btn-default" id="removeProfileEdit">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{else}}
        {{> spinner}}
    {{/if}}
</template>