<template name="listRoles">
    <div class="component-spacer sm">
        <div class="page-container container">
            <div class="row">
                <div class="col-md-12, col-lg-12"><h2>Application Roles</h2></div>
            </div>
        </div>
    </div>
    <div class="component-spacer sm"></div>
    <div class="page-container container">
        <div class="row">
            <div class="col-lg-6"><a href="" class="prev">{{prev}}</a></div>
            <div class="col-lg-6"><a href="" class="next">{{next}}</a></div>
        </div>
    </div>
    <div class="component-spacer sm"></div>
    <div class="page-container container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="list-group">
                    {{#each getRoles}}
                        <a href="{{roleUpadtePath roleId}}" class="list-group-item">{{roleName}}:&nbsp;&nbsp;&nbsp;&nbsp;{{roleDesc}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="page-container container">
        <div class="row">
            <div class="col-lg-6"><a href="" class="prev">{{prev}}</a></div>
            <div class="col-lg-6"><a href="" class="next">{{next}}</a></div>
        </div>
    </div>
</template>