<template name="listGroups">
    <div class="page-container container">
        <div class="component-spacer sm">
            <div class="row">
                <div class="col-md-12, col-lg-12"><h2>Application Groups</h2></div>
            </div>
        </div>
        <div class="component-spacer sm">
            <div class="row">
                <div class="col-lg-6"><a href="" class="prev">{{prev}}</a></div>
                <div class="col-lg-6"><a href="" class="next">{{next}}</a></div>
            </div>
        </div>
        <div class="component-spacer sm">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <ul class="list-group">
                        {{#each getGroups}}
                            <li class="list-group-item clearfix">
                                <a href="#" class="groupItem pull-left" id="{{groupId}}">{{groupName}}:&nbsp;&nbsp;&nbsp;&nbsp;{{groupDesc}}</a>
                                <a href="#" id="{{_id}}" class="groupItemDelete pull-right text-danger">X</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"><a href="" class="prev">{{prev}}</a></div>
            <div class="col-lg-6"><a href="" class="next">{{next}}</a></div>
        </div>
    </div>
    <div class="component-spacer sm">
        <div class="form-group">
            <label class="control-label col-sm-2" for="responseMsg"></label>
            <div class="col-sm-5">
                <span class="label label-danger"></span>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="text-right">
                    <button type="button" class="btn btn-default" id="addGroup">Add</button>
                    <button type="button" class="btn btn-default" id="cancelAddGroup">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>