<template name="listGroups">
    <div class="page-container container">
        <div class="component-spacer sm">
            <div class="row">
                <div class="col-md-12, col-lg-12"><h2>Application Groups</h2></div>
            </div>
        </div>
        <div class="component-spacer sm">
            <div class="row">
                <div class="col-lg-6"><a href="" class="prev">{{prev}}</a></div>
                <div class="col-lg-6"><a href="" class="next">{{next}}</a></div>
            </div>
        </div>
        <div class="component-spacer sm">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="list-group">
                        {{#each getGroups}}
                            <a href="{{groupUpadtePath groupId}}" class="list-group-item">{{groupName}}:&nbsp;&nbsp;&nbsp;&nbsp;{{groupDesc}}<span class="float-right"> <button type="button" class="btn btn-danger" id="bttn{{groupId}}">X</button></span></a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"><a href="" class="prev">{{prev}}</a></div>
            <div class="col-lg-6"><a href="" class="next">{{next}}</a></div>
        </div>
    </div>
    <div class="component-spacer sm">
        <div class="form-group">
            <label class="control-label col-sm-2" for="responseMsg"></label>
            <div class="col-sm-5">
                <span class="label label-danger"></span>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="text-right">
                    <button type="button" class="btn btn-default" id="addGroup">Add</button>
                    <button type="button" class="btn btn-default" id="cancelAddGroup">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>