<template name="createUberHubView">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="name">Name:</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="text" name="name" class="input-full-width" id="name" placeholder="Name"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="description">Description:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="text" name="description" class="input-full-width" id="description" placeholder="Description"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="databaseServer">Database Server:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="text" name="databaseServer" class="input-full-width" id="databaseServer" placeholder="Database Server"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="database">Database:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="text" name="database" class="input-full-width" id="database" placeholder="Database"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="userName">Db User name:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="text" name="userName" class="input-full-width" id="userName" placeholder="User name"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="password">Password:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="password" name="password" class="input-full-width" id="password"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="datasource">Datasource:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="text" name="datasource" class="input-full-width" id="datasource" placeholder="Datasource"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="perfHours">Performance Hours:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="number" name="perfHours" class="input-full-width" id="perfHours" placeholder="Performance Hours"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="url">URL:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="text" name="url" class="input-full-width" id="url" placeholder="URL"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="adminUrl">Admin URL:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="text" name="adminUrl" class="input-full-width" id="adminUrl" placeholder="Admin URL"></div>
            </div>
        </div>
    </div>
</template>