<template name="manageEnvironment">
    <div class="component-spacer sm">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-title"><h2>Manage Environments</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-title"><h3>Configuration Type</h3></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <select id="configType" class="form-control">
                    <option value="0">I want to</option>
                    <option value="1">Update a VMV Environment</option>
                    <option value="2">Update a Hub Environment</option>
                    <option value="3">Update a Uber Hub Environment</option>
                </select>
            </div>
        </div>
        <div class="component-spacer sm"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <ul class="list-unstyled">
                    {{#each getEnvironmentsByType getEnvironmentType}}
                        <li><strong>Name:&nbsp;&nbsp;</strong><a href="" id="envId">{{ENVIRONMENT_NME}}</a><div hidden>{{ENVIRONMENT_ID}}</div></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="component-spacer sm"></div>
        {{> Template.dynamic template=getView}}
        <div class="component-spacer sm"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="button-container" id="container-view" style="visibility: hidden">
                    <ul class="list-inline">
                        <li><button type="reset" class="btn btn-default btn-sm" id="resetBttn">Reset</button></li>
                        <li><button type="button" class="btn btn-default btn-sm" id="saveBttn">Save</button></li>
                        <li><button type="button" class="btn btn-default btn-sm" id="deleteBttn">Delete</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>