<template name="updateHubEnvironmentView">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="name">Name:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="text" name="name" class="input-full-width" id="name" maxlength="10" placeholder="Name" value="{{getName}}"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 filter-input"><label for="description">Description:&nbsp;</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input type="text" name="description" class="input-full-width" id="description" maxlength="50" placeholder="Description" value="{{getDescription}}"></div>
            </div>
        </div>
    </div>
</template>