<template name="viewEnvironment">
    <div class="component-spacer sm">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-title"><h2>View Environment</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-3">
                <select id="hubEnvironments" class="form-control">
                    {{#if Template.subscriptionsReady}}
                        {{#each environments}}
                            {{> option environmentOptions ENVIRONMENT_NME}}
                        {{/each}}
                    {{/if}}
                </select>
            </div>
        </div>

        <div class="component-spacer"></div>
        <h2>Consumer Properties</h2>
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li><a href="#a1" data-toggle="tab">Item1</a> </li>
                <li><a href="#a2" data-toggle="tab">Item2</a></li>
                <li><a href="#a3" data-toggle="tab">Item3</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="a1"><p>item 1 content</p></div>
                <div class="tab-pane" id="a2"><p>item 2 content</p></div>
                <div class="tab-pane" id="a3"><p>item 3 content</p></div>
            </div>
        </div>
        {{#each extractConsumerPropertyTitle}}
            <p>Brand: {{BRAND_CDE}} App: {{APPLICATION_CDE}} INST: {{INSTANCE_CDE}} NAME: {{PROPERTY_NAME}} VALUE: {{PROPERTY_VALUE}} CONSUMER_ID: {{CONSUMER_ID}}</p>
         {{/each}}
    </div>
</template>